body {
  width: 100%;
  height: 850px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: black;
  z-index: -10;
}

.postit {
  width: 500px;
  border: 1px solid gray;
  border-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: lightyellow;
}

.title {
  font-size: 50px;
  color: lightyellow;
}

.taskDiv {
  width: 500px;
  background-color: lightyellow;
  display: flex;
  height: 49px;
  border-bottom: 1px solid gray;
  border-top: 0px;
  align-items: center;
  justify-content: space-between;
}


.taskDetail {
  float: left;
  padding-left: 10px;
  color: black;
}

button {
  color: black;
  float: right;
  background-color: lightyellow;
  border: 0px;
  border-left: 1px solid gray;
  cursor: pointer;
}

.postitEnd1 {
  width: 495px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  height: 5px;
  background-color: lightyellow;
  margin: auto;
}

.postitEnd2 {
  width: 490px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  height: 5px;
  background-color: lightyellow;
  margin: auto;
}

.taskCount {
  width: 490px;
  display: flex;
  height: 50px;
  color: gray;
  padding-left: 10px;
  justify-content: space-between;
  border: 1px solid gray;
  border-top: 0px;
  background-color: lightyellow;
  align-content: center;
}


form {
  display: flex;
  width: 500px;
  height: 50px;
  border: 1px solid gray;
  border-bottom: 0px solid gray;
  padding: 0px;
}

input {
  width: 500px;
  background: lightyellow;
  border: 0px solid gray;
  color: black;
}

input::placeholder {
  padding: 10px;
}

.activeUser {
  width: 500px;
  display: flex;
  height: 50px;
  color: black;
  justify-content: center;
  border: 1px solid gray;
  border-bottom: 0px solid gray;
  background-color: lightyellow;
  align-content: center;
  margin-top: 0px;
}